<div class="container mt-4">
  <app-voltar />

  <div class="painel-container">
    <h2 class="titulo">Lista de Usuários</h2>

    <table class="tabela">

      <thead>
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>Data Cadastro</th>
          <th>Status</th>
          <th>Número whatsapp</th>
          <th>Consultar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarioLista">
          <td>{{ usuario.id }}</td>
          <td>{{ usuario.nome }}</td>
          <td>{{ usuario.dataCadastro| date: 'dd/MM/yyyy HH:mm' }}</td>
          <td>
            <span>
              {{ usuario.dataInativo ? 'Inativo' : 'Ativo' }}
            </span>
          </td>
          <td>{{ usuario.remoteJid }}</td>
          <td>
            <button class="btn btn-outline-primary btn-sm" title="Consultar" (click)="consult(usuario.remoteJid!)">
              <i class="bi bi-search"></i>
            </button>
          </td>
        </tr>
      </tbody>

    </table>


    <nav class="paginacao">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="pageNumber === 1">
          <a class="page-link pointer" (click)="loadPage(pageNumber - 1)">Anterior</a>
        </li>

        <li class="page-item"
            *ngFor="let page of [].constructor(totalPages); let i = index"
            [class.active]="pageNumber === (i + 1)">
          <a class="page-link pointer" (click)="loadPage(i + 1)">{{ i + 1 }}</a>
        </li>

        <li class="page-item" [class.disabled]="pageNumber === totalPages">
          <a class="page-link pointer pointer" (click)="loadPage(pageNumber + 1)">Próxima</a>
        </li>
      </ul>
    </nav>

  </div>
</div>
