<div class="container mt-4">
  <app-voltar />

  <div class="painel-container">
    <h2 class="titulo">Lista de Usuários</h2>
    <p><strong>Número de usuários banidos: </strong>{{ banList?.bannedQuantity }}</p>
    <table class="tabela">

      <thead>
        <tr>
          <th>Código</th>
          <th>Número whatsapp</th>
          <th>Data Cadastro</th>
          <th>Status</th>
          <th>Consultar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ban of banList?.bannedUsersFromGroup">
          <td>{{ ban.id }}</td>
          <td>{{ ban.userRemoteJid }}</td>
          <td>{{ ban.dataCadastro | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td>
            <span>
              {{ ban.dataInativo ? 'Inativo' : 'Ativo' }}
            </span>
          </td>
          <td>
            <button class="btn btn-outline-primary btn-sm" title="Consultar" (click)="consult(ban.userRemoteJid!)">
              <i class="bi bi-search"></i>
            </button>
          </td>
        </tr>
      </tbody>

    </table>


    <!-- <nav class="paginacao">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="pageNumber === 1">
          <a class="page-link pointer" (click)="loadPage(pageNumber - 1)">Anterior</a>
        </li>

        <li class="page-item"
            *ngFor="let page of [].constructor(totalPages); let i = index"
            [class.active]="pageNumber === (i + 1)">
          <a class="page-link pointer" (click)="loadPage(i + 1)">{{ i + 1 }}</a>
        </li>

        <li class="page-item" [class.disabled]="pageNumber === totalPages">
          <a class="page-link pointer pointer" (click)="loadPage(pageNumber + 1)">Próxima</a>
        </li>
      </ul>
    </nav> -->

  </div>
</div>
